# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Entorno virtual
venv/
env/
ENV/
venv.bak/
*.env

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de configuración de Django
db.sqlite3
*.log

# Archivos de compilación y distribución
*.egg
*.egg-info/
dist/
build/

# Archivos sensibles
*.secret
