# Ignorar el entorno virtual
venv/

# Ignorar archivos de configuración sensibles
.env

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar logs y archivos temporales
*.log
*.tmp
